# Ignore Python cache
__pycache__/

# Ignore environment files
.env

# Ignore VSCode settings
.vscode/

# Ignore logs
*.log

# Ignore node_modules
node_modules/

# Ignore JSONL files (optional if you want)
*.jsonl

# ignore data set
data_set/